.login-input[type=text], 
.login-input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

.login-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  position: relative;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em black;
}

.login-button:hover {
  opacity: 0.8;
}

.login-container {
  padding: 15px;
}

.login-form {
  border: 3px solid #f1f1f1;
  margin-top: 20px;
}

.login-button:active {
  top: .1em;
  left: .1em;
  box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;  
}

#show-password {
  text-align: right;
}
