.hide {
  display: none;
}

.show {
  display: block;  
}

.custom-btn {
  width: 76px;
  height: 30px;  
  border-radius: 5px;
  padding: 5px 5px;
  background: #FCFCEE;  
  border: #FCFCEE;    
  position: relative;
  cursor: pointer;    
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 2px 2px 1px black;
}

.custom-btn:active {
  top: 2px;
  left: 2px;
}

.button-list {
  display: inline-block; 
  margin-right: 5px;
  width: 25px;
  height: 25px;
  font-weight: 700;
  flex-shrink: 0;
   
}
