* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular");
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Bold");
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;  
}

body {  
  margin: 0 auto;
  padding: 20px 5px 0 5px;
  font-size: 15px;
  width: 360px;
  font-family: "Roboto";
  font-weight: 400;
}

.task-list {
  background: #f5ffff;
  border-collapse: collapse;
  text-align: left; 
  margin: 20px auto 0 auto;
  width: 350px;   
  overflow-wrap: break-word;
}

.task-list th {
  border-top: 1px solid #777777;	
  border-bottom: 1px solid #777777; 
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px;
  position: relative;  
}

.task-list td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;  
}

.task-list__project {
  font-weight: 700;  
}

.task-list tr:nth-child(odd) {
  background: #ebf3f9;
}

.task-list tr:hover, 
.task-list tr:active, 
.task-list tr:hover:nth-child(odd) 
.task-list tr:active:nth-child(odd) {
  background: rgb(23, 249, 151);

}

.task-list tr:hover div {
  display: block;
}

.red {
  color: red;
  font-weight: bold;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  background-color:  #ebf3f9;
  margin-top: 5px;
  padding: 10px;
}

.main-menu a {
  text-decoration: none;
  color: black;  
}

.main-menu a:hover {  
  color: red;  
}

header h1 {  
  text-decoration: none;  
  text-shadow: 1px 1px 1px #003300;
}

.task-list__deadline {
  padding-bottom: 2px;
  text-align: right;
}